<!DOCTYPE html>
<html lang="en">
    <head>
        <meta> charset="UTF-8" />
        <meta> name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta> http-equiv="X-UA-Compatible" content="ie-edge" />
        <title>Hello</title>
    </head>

    <body>
        <center>
            <h1>Halo, <%=namaUser.username%>!</h1>
            <h3>Selamata datang di profil homepage!</h3>
            <br />
            <p>
                teeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeekkkkkkkkkkkkkkkkksssssssss
                apaaaaaaaaaa ajaaaaaaaaa bolehhhhhhhhhhhhhhhh. 
                pengen bikin beomgyu edits moodnya gak dapet dapet huft
            </p>
            <br />

            <a href="/logout">Logout</a>
        </center>
    </body>
</html>